@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-1: hsl(217, 54%, 11%);
  --Very-dark-blue-2: hsl(216, 50%, 16%);
  --Very-dark-blue-3: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--dark-blue);
}
.attribution a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--Very-dark-blue-1);
  color: var(--Soft-blue);

  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: var(--Very-dark-blue-2);
  width: 35rem;
  margin-bottom: 5rem;
  box-shadow: 0 0.1rem 1.5rem var(--light-gray);
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 2.5rem;
}
@media only screen and (max-width: 25em) {
  body {
    padding: 1rem;
    font-size: 1.4rem;
  }
  .main {
    padding: 1.5rem;
    width: 100%;
  }
}
.img__container {
  width: calc(inherit - 2.5rem);
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
  position: relative;
  cursor: pointer;
}
.img__container img {
  width: 100%;
  height: 100%;
  display: block;
}

.img__container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--Cyan);
  opacity: 0;

  display: grid;
  place-items: center;
}
.overlay img {
  color: white;
  width: 5rem;
  height: auto;
}

.img__container:hover img {
  opacity: 0.4;
}
.img__container:hover .overlay {
  opacity: 1;
}
.img__container:hover .overlay img {
  opacity: 1;
  z-index: 12;
}
.img__container:hover ~ .heading {
  opacity: 1;
  z-index: 12;
}

.heading {
  font-size: 2.2rem;
  color: var(--White);
  margin-bottom: 1.5rem;
}
.heading:hover {
  cursor: pointer;
  color: var(--Cyan);
}
.desc {
  margin-bottom: 1.5rem;
}
.section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.section img {
  margin-right: 0.75rem;
}
.eth {
  color: var(--Cyan);
  font-weight: bold;
}
.time {
  margin-left: auto;
}
.profile {
  border-top: 1px solid var(--Very-dark-blue-3);
  display: flex;
  align-items: center;
  padding-block: 2rem;
}
.profile img {
  border: 2px solid var(--White);
  border-radius: 100%;
  width: 4.5rem;
}
.profile p {
  margin-left: 2rem;
}
.profile span {
  color: var(--White);
}
.profile span:hover {
  cursor: pointer;
  color: var(--Cyan);
}
